html {
  height: 100%;
}
.header {
  background-color: rgb(154, 198, 240);
  padding: 20px;

  text-align: center;
  font-size: 25px;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(126, 195, 226);
  overflow: hidden;

  text-align: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: auto;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link
.topnav a.active {
  background-color: #ca6b1d;
  color: white; 
}*/

body {
  margin: 1em;
  font-family: basic-sans, sans-serif;
  font-size: 1.125em;
  line-height: 1.6;
  color: black;
  background: whitesmoke;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.test:first-child {
  background-color: yellow;
}

*/ .container2 {
  display: flex;
  width: 300px;
  border: 1px solid;
}

.left {
  float: left;
  width: 800px;
  padding: 10px;
  border: 1px solid;
  text-align: left;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
}

.p1 :first-child {
  color: teal;
  animation: blinkingText 1.2s infinite;
}
.p2 :first-child {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50 px;
  color: crimson;
  animation-play-state: running;
}
.p3{
  text-align: center;
}

.images {
  display: flex-right;
  padding-top: 80px;
  padding-left: 10px;
  width: 300px;
  float: right;
}

/* Style the footer */
.footer {
  background-color: rgb(154, 198, 240);
  padding: 15px;
  text-align: right;
  color: white;
  margin-top: auto;
}
