body{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTvy6a9zyizSzZYKHVVmiwCnC_7QZtQof-CufRPG5m8RjwMqxQS&usqp=CAU);
}
#header{
  background: pink;
  display: flex;
  width: 100%;
  position: relative;
  bottom: 20px;

 
  border-bottom: 1px solid purple;
}
h1{
 display: flex;
  position: relative;
  left: 500px;
  color: purple;
  padding: 1px;
  border-radius: 18px;
  border: 1px solid purple;
  background: white;
}
.nav-sidebar{
  display: flex;
flex-flow: column;
  height: 250px;
  width: 200px;
  background:pink;
  margin:0px;
  padding:2px;
 border: 1px solid purple;
  border-radius: 30px;
  position:relative;
  top: 400px;
  margin: 0px;
   
}
 h4{
  display: flex;
  flex-flow: column;
border: 1px solid purple;
   border-radius: 10px;
   color: green;
}

 button{
  color:white;
   padding: 3px 29px;
   background: orange;
    border-radius: 16px;
}
#container{
 display: flex;
  width:800px;
  flex-wrap: wrap;
position: relative;
  left: 200px;
  bottom:150px;
  
}

article:first-child {
  background: #FFcc99;
}

article{
  flex:1;
  margin: 5px;
  max-width: 400px;
  background: #ccffcc;
  color:green ;
  border-radius: 70px;
  border: 1px solid #ffb266;
  align-items: center;
  
}
 h2{
   display: flex;
   justify-content: center;
  color: #99004c;
  border-radius: 200px;
  border: 1px solid aqua ;
  background: white ;
  
}
#footer{
color: purple;
  border-top: 1px solid purple;
  padding: 10px;
}

@media screen and (max-width: 900px) {
  #container {
    flex-direction: column;
    
  }
}


  
  
